@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div>
            <div id="chartTest"></div>
        </div>

        <div>
            <button type="button" id="Test" value="">開始產生</button>
        </div>

        @*--------------------------引入套件--------------------------*@
        <script src="https://code.highcharts.com/highcharts.js"></script>

        @*--------------------------主要程式--------------------------*@
        <script src="~/js/chartTest.js"></script>
        <!---->
    </div>


